pymysql
Flask
Flask-RESTful
flask-restful-swagger
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
flask-script
flask-marshmallow
Flask-JSONRPC
Flask-Testing
Flask-QRcode
Flask-JWT
flask-cors
flask-restplus
flask-rq

marshmallow-sqlalchemy
sqlalchemy-utils
sqlacodegen

passlib
requests
redis
APScheduler
gevent
appmetrics